[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/bugfixes-to-vim-indent-for-verilog"]
	path = vim/bundle/bugfixes-to-vim-indent-for-verilog
	url = https://github.com/vim-scripts/bugfixes-to-vim-indent-for-verilog.git
[submodule "vim/bundle/codeschool-vim-theme"]
	path = vim/bundle/codeschool-vim-theme
	url = https://github.com/29decibel/codeschool-vim-theme.git
[submodule "vim/bundle/colorizer"]
	path = vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/bundle/habiLight"]
	path = vim/bundle/habiLight
	url = https://github.com/vim-scripts/habiLight.git
[submodule "vim/bundle/mayansmoke"]
	path = vim/bundle/mayansmoke
	url = https://github.com/vim-scripts/mayansmoke.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-colors-pencil"]
	path = vim/bundle/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-easy-align"]
	path = vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/bundle/vim-frozen"]
	path = vim/bundle/vim-frozen
	url = https://github.com/fent/vim-frozen.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/bundle/newspaper.vim"]
	path = vim/bundle/newspaper.vim
	url = https://github.com/vim-scripts/newspaper.vim.git
[submodule "vim/bundle/seoul256.vim"]
	path = vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "vim/bundle/Spacegray.vim"]
	path = vim/bundle/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "vim/bundle/wellsokai.vim"]
	path = vim/bundle/wellsokai.vim
	url = https://github.com/wellsjo/wellsokai.vim.git
[submodule "vim/bundle/systemverilog.vim2"]
	path = vim/bundle/systemverilog.vim2
	url = https://github.com/vim-scripts/systemverilog.vim.git
[submodule "vim/bundle/matchit.zip"]
	path = vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
        ignore = untracked
[submodule "vim/bundle/vim-fontzoom"]
	path = vim/bundle/vim-fontzoom
	url = https://github.com/thinca/vim-fontzoom.git
        ignore = untracked
[submodule "vim/bundle/Alduin"]
	path = vim/bundle/Alduin
	url = https://github.com/AlessandroYorba/Alduin.git
[submodule "vim/bundle/vim-themes"]
	path = vim/bundle/vim-themes
	url = https://github.com/mswift42/vim-themes.git
[submodule "vim/bundle/semantic-highlight.vim"]
	path = vim/bundle/semantic-highlight.vim
	url = https://github.com/jaxbot/semantic-highlight.vim.git
